@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Pippins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

header {
    background-color: rgb(54, 54, 60);
    color: white;
    padding: 35px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/**Estructura de la info personal **/

aside {
    background-color: rgb(255, 247, 238);
    width: 360px;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-direction: column;
}

.info1{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin: 15px;
    margin-top: 35px;
}

.info2{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin: 15px;
    gap: 10px;
}

.info3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
    gap: 15px;
}

/**Estructura del Main**/

section{
    padding-left: 5px;
}

main{
    display: flex;
    text-align: left;
    justify-content: space-between;
}

hr{
    margin: 15px;
    margin-top: 0rem;
}

.info4{
    padding: 15px;
    padding-top: 0rem;
}

.info5{
    color: rgb(132, 132, 132);
    padding: 20px;
    padding-top: 0rem;
}

.subtitulos{
    padding: 15px;
    font-weight: bold;
}

footer {
    background-color: rgb(54, 54, 60);
    color: rgb(0, 0, 0);
    padding: 35px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.btn{
    padding: 8px 10px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}